.conditionsList {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 50px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(2, 200px);
}

.conditionsList__listItem {
    display: flex;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    padding: 10px;
}

.conditionsList__imageBlock {
    display: flex;
    flex-shrink: 0;
    height: 100px;
    width: 100%;
    max-width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #007834;
}

.conditionsList__textBlock {
    padding-left: 20px;
    font-size: 18px;
}