.footer {
    margin-bottom: 0px;
    color: #fff;
    background-color: #232323;
    padding-top: 50px;
}

.footer__innerHeader {
    font-weight: 700;
    font-size: 20px;
}

.footer__textAlign {
    text-align: left;
}

@media (max-width:767px) {
    .footer__textAlign {
        text-align: center;
    }
}

.footer__paragraph {
    color: #fff;
    font-size: 18px;
    padding-bottom: 3px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    /* justify-items: center; */
}

@media (max-width: 767px) {
    .footer__paragraph {
        grid-template-columns: 1fr;
        grid-row-gap: 10px;
        font-size: 16px;
    }
}

.footer__licenseBar {
    background-color: #fdfdfd;
    color: #686868;
    font-size: 13px;
    padding: 5px;
}

.footer__licenseLink {
    text-decoration: none;
}

.footer__licenseLink:focus {
    text-decoration: underline;
}

.footer__licenseLink:visited {
    color: #686868;
}

.footer__phoneNumber {
    /* order: 1;
    grid-column: 1 / span 3; */
    justify-self: center;
    text-align: center;
    align-self: center;
}

.footer__phoneLink {
    text-decoration: none;
    color: #019742;
}

.footer__phoneLink:hover {
    text-decoration: underline;
}

.footer__icons {
    display: flex;
    /* min-width: 80%;
    justify-content: space-evenly; */
    align-self: center;
    justify-content: flex-end;
    column-gap: 15px;
}

@media (max-width) {
    .footer__icons {
        justify-content: center;
    }
}