.section {
    margin: 120px 0px;
}

.section--position {
    position: relative;
    padding: 80px 0px;
}

.section--subPage {
    margin: 60px 0px;
}

.section__flexContainer {
    display: flex;
    align-items: center;
    grid-column-gap: 80px;
}

.section__header {
    padding: 0px 20px;
    margin: 0px 48px 50px 48px;
    font-size: 43px;
    line-height: 120%;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.section__header--centered {
    text-align: center;
}

.section__headerLight {
    color: #fff;
}

.section__header--splited {
    margin: revert;
}

.section__paragraph {
    padding: 0px 20px;
    margin: 18px 60px;
    font-weight: 400;
    font-size: 26px;
    color: #4d4d4d;
    line-height: 170%;
}

.section__paragraph--importantWord {
    color: #007834;
    font-weight: 700;
}

.section__paragraph--textOnly {
    max-width: 77%;
}

.section__paragraph--smallerFont {
    font-size: 21px;
}

.section__paragraph--grantsList {
    font-size: 18px;
}

.section__paragraph--splited {
    margin: revert;
}

.section__paragraph--footer {
    color: #fff;
    font-size: 18px;
    padding-bottom: 3px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    align-items: center;
    justify-items: center;
}

.section__background {
    background-color: #e5f3e9;
    padding: 50px 0px;
}

.section__background--darker{
    background-color: #007834;
    color: #fdfdfd;
}

.section__background--box {
    width: 100%;
    max-width: 25%;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
}

.section__image {
    max-width: 100%;
    object-fit: cover;
}

.section__image--half {
    max-width: 50%;
}

.section__footer {
    margin-bottom: 0px;
    color: #fff;
    background-color: #232323;
    padding-top: 50px;
}

.section__footerHeader2 {
    font-weight: 700;
    font-size: 20px;
}

.section__footerText {
    text-align: center;
}

 .section__fontWeight {
    font-weight: normal;
 }

 .section__buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 102px;
 }

 .section__buttonContainer--grid {
    flex-direction: row;
    justify-content: space-around;
    margin-top: revert;
 }

 .section__button {
    text-transform: uppercase;
    padding: 15px 35px;
    border: 1px solid #000;
    border-radius: 1px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: border-color 300ms ease, color 300ms ease, background-color 300ms ease;
 }

 .section__button:focus {
    border-color: #000;
    background-color: #000;
    color: #fff;
 }

 .section__button:hover {
    border-color: #000;
    background-color: #000;
    color: #fff;
 }

 .section__button--grid {
    flex-basis: 300px;
 }

 .section__phoneNumber {
    order: 1;
    grid-column: 1 / span 3;
    justify-self: center;
 }