.section {
    margin: 120px 0px;
}

.section--position {
    position: relative;
    padding: 80px 0px;
}

.section__flexContainer {
    display: flex;
    align-items: center;
    grid-column-gap: 60px;
}

.section__header {
    padding: 0px 20px;
    margin: 0px 48px 50px 48px;
    font-size: 50px;
    line-height: 120%;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.section__header--centered {
    text-align: center;
}

.section__headerLight {
    color: #fff;
}

.section__header--splited {
    margin: revert;
}

.section__paragraph {
    padding: 0px 20px;
    margin: 10px 48px;
    font-weight: 400;
    font-size: 26px;
    color: #4d4d4d;
    line-height: 170%;
}

.section__paragraph--importantWord {
    color: #007834;
    font-weight: 700;
}

.section__paragraph--textOnly {
    max-width: 77%;
}

.section__paragraph--smallerFont {
    font-size: 21px;
}

.section__paragraph--splited {
    margin: revert;
}

.section__background {
    background-color: #e5f3e9;
    padding: 50px 0px;
}

.section__background--darker{
    background-color: #007834;
    color: #fdfdfd;
}

.section__background--box {
    width: 100%;
    max-width: 25%;
    position: absolute;
    left: 0%;
    top: 0%;
    bottom: 0%;
    z-index: -1;
}

.section__image {
    max-width: 100%;
}

.section__image--half {
    max-width: 50%;
}

.section__footer {
    margin-bottom: 0px;
}

 .section__fontWeight {
    font-weight: normal;
 }